.site-footer {
    background-color: #4682b4;
    padding: 15px 0 15px;
    font-size: 15px;
    line-height: 24px;
    color: #9CC3E4;
    a {
        color: #9CC3E4;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    .copyright-text {
        margin: 0;
    }
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
        .copyright-text {
            text-align: center;
        }
    }
}