// Body
$body-bg: #f8fafc;
// font-family
$font-family-sans-serif: 'THSarabunNew',
sans-serif;
$font-size-base: 0.95rem;
$line-height-base: 1.7;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;