// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url(../fonts/sarabun-webfont-master/fonts/thsarabunnew.css);
// fontawesome-icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// Variables
@import "variables";
// Layout
@import 'footer';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~datepicker-bootstrap/css/core";
@import "~datepicker-bootstrap/css/datepicker";
@import "~datepicker-bootstrap/css/timepicker";
@import "~jquery-steps/demo/css/jquery.steps.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~@ttskch/select2-bootstrap4-theme/src/layout.scss";
@import "~select2/src/scss/core";
@import "~eonasdan-custom-bootstrap-datetimepicker-with-bootstrap-4/src/sass/bootstrap-datetimepicker-build.scss";
.navbar-laravel {
    background-color: #4682b4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

label {
    &.btn-upload {
        background-color: #ffc107 !important;
        border-color: #ffc107 !important;
        color: white;
        font-family: sans-serif;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        &:hover {
            background-color: #e0a800 !important;
            border-color: #d39e00 !important;
        }
        &:active {
            background-color: #d39e00 !important;
            border-color: #c69500 !important;
        }
        &.btn-sm {
            padding: .25rem .5rem;
            font-size: .83125rem;
            line-height: 1.5;
            border-radius: .2rem;
        }
    }
}

button {
    &.btn-secondary {
        &.option {
            color: #495057;
            background-color: #fff !important;
            border-color: #dee2e6 !important;
            &:active {
                color: #495057 !important;
            }
            &:focus {
                color: #495057 !important;
            }
            &.dropdown-toggle {
                color: #495057 !important;
            }
            +.dropdown-menu {
                .dropdown-item {
                    cursor: pointer;
                    &:active {
                        background-color: #f8f9fa !important;
                    }
                }
            }
        }
    }
}

.error-page {
    width: 600px;
    margin: 15rem auto 0;
    .headline {
        float: left;
        font-size: 100px;
        font-weight: 300;
    }
    .error-content {
        margin-left: 190px;
        display: block;
        h3 {
            font-weight: 300;
            font-size: 25px;
        }
    }
}

button {
    &.btn-list-step {
        color: #fff;
        background-color: #5D666F;
        border-color: #5D666F;
        &:hover {
            color: #fff;
            background-color: #414950;
            border-color: #414950;
        }
    }
}

.title-agenda {
    white-space: revert;
}

fieldset {
    &.scheduler-border {
        border: 1px solid #ced4da !important;
        border-radius: .25rem;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
    legend {
        &.scheduler-border {
            font-family: 'THSarabunNew', sans-serif;
            font-size: .95rem !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    }
}

.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);
    /* Set vertical boundaries for the document editor. */
    max-height: 700px;
    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
    .ck-content {
        font: 14px/1.4 'THSarabunNew', sans-serif;
        h2 {
            font-size: 2.18em;
            font-weight: normal;
            line-height: 1.37em;
            padding-top: .342em;
            margin-bottom: .142em;
        }
        h3 {
            font-size: 1.75em;
            font-weight: normal;
            color: hsl( 203, 100%, 50%);
            line-height: 1.86em;
            padding-top: .171em;
            margin-bottom: .357em;
        }
        h4 {
            font-size: 1.31em;
            font-weight: bold;
            line-height: 1.24em;
            padding-top: .286em;
            margin-bottom: .952em;
        }
        p {
            font-size: 1em;
            line-height: 1.63em;
            padding-top: .5em;
            margin-bottom: 1.13em;
        }
        blockquote {
            font-family: Georgia, serif;
            margin-left: calc( 2 * var(--ck-spacing-large));
            margin-right: calc( 2 * var(--ck-spacing-large));
        }
        ol {
            counter-reset: item;
            li {
                display: block;
            }
            li:before {
                content: "วาระที่ " counters(item, ".") " ";
                counter-increment: item;
            }
            ul {
                counter-reset: no;
                li {
                    display: block;
                }
                li:before {
                    content: "ข้อที่ " counters(no, ".") " ";
                    counter-increment: no;
                }
            }
        }
        ul {
            counter-reset: no;
            li {
                display: block;
            }
            li:before {
                content: "ข้อที่ " counters(no, ".") " ";
                counter-increment: no;
            }
        }
    }
    .ck-heading-dropdown {
        .ck-list {
            .ck-button__label {
                font: 16px/1.6 'THSarabunNew', sans-serif;
                line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base));
                min-width: 6em;
            }
            .ck-button:not(.ck-heading_paragraph) {
                .ck-button__label {
                    transform: scale(0.8);
                    transform-origin: left;
                }
            }
        }
        .ck-heading_heading1 {
            .ck-button__label {
                font-size: 2.18em;
                font-weight: normal;
                font-size: 2.18em;
                font-weight: normal;
            }
        }
        .ck-heading_heading2 {
            .ck-button__label {
                font-size: 1.75em;
                font-weight: normal;
                color: hsl( 203, 100%, 50%);
            }
            &.ck-on .ck-button__label {
                color: var(--ck-color-list-button-on-text);
            }
        }
        .ck-heading_heading3 {
            .ck-button__label {
                font-size: 1.31em;
                font-weight: bold;
            }
        }
    }
}

.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;
    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0, 0%, 0%, .2);
    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
    .ck-toolbar {
        border: 0;
        border-radius: 0;
    }
}


/* Make the editable container look like the inside of a native word processor application. */

.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large));
    background: var(--ck-color-base-foreground);
    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
    .ck-editor__editable {
        /* Set the dimensions of the "page". */
        width: 21cm;
        min-height: 29.7cm;
        /* Keep the "page" off the boundaries of the container. */
        padding: 1cm 2cm 2cm;
        border: 1px hsl( 0, 0%, 82.7%) solid;
        border-radius: var(--ck-border-radius);
        background: white;
        /* The "page" should cast a slight shadow (3D illusion). */
        box-shadow: 0 0 5px hsla( 0, 0%, 0%, .1);
        /* Center the "page". */
        margin: 0 auto;
    }
}

.listStep {
    left: 0;
    top: 120px;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    .card {
        width: 18rem;
        #listStep {
            li {
                &:hover {
                    background-color: #41BB8A;
                    a {
                        color: #fff;
                    }
                }
                a {
                    color: #212529;
                }
                &.list-group-item.disabled,
                &.list-group-item:disabled {
                    background-color: #FAFAFA;
                    a {
                        color: #757575;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    main {
        min-height: 500px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main {
        min-height: 500px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    main {
        min-height: 500px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    main {
        min-height: 500px;
    }
}